<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hacker Boards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.min.js"></script>

    <style>
        @@media (min-width: 1200px) {
            .container {
                max-width: 500px;
            }
        }

        /*h1, h2 {
            color: #00FF00;
        }*/
    </style>
</head>

<body style="background-color: antiquewhite;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">HSN</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (Request.IsAuthenticated)
            {
                <li><a href="/Account/LogOff"><span class="glyphicon glyphicon-user"></span> Log off</a></li>}
            else
            {
                <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
            }

        </ul>
    </div>
</nav>
@RenderBody()
</body>
</html>


@RenderSection("scripts", required: false)
