<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hacker Boards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="http://www.iconarchive.com/download/i94272/bokehlicia/captiva/accessories-camera.ico" />
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.min.js"></script>

    <style>
        /*to override bootstrap*/
         @@media (min-width: 1200px) {
             .container {
                 max-width: 500px;
             }
         }
    </style>
</head>

<body style="background-color: antiquewhite;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Hacker Boards</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
@RenderBody()
</body>
</html>
@RenderSection("scripts", required: false)
