<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li><a href="/Account/LogOff"><span class="glyphicon glyphicon-user"></span> Log off</a></li>}
    else
    {
        <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
    }

</ul>